.custom-Nav {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.custom-Nav a {
  color: black !important;
}

#main-content {
  background-color: bisque;
}

.section-content {
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 20px;
  float: none;
  margin-bottom: 10px;
}

/* Made  footer sticky */
footer {
  width: 100%;
  background: #111;
  margin-top: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
}

ul {
  padding: 1rem;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.25rem 0.75rem;
}

ul a {
  color: #fff;
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
  color: #198754;
}